.e-tooltip {
  display: inline-block;
  cursor: pointer;

  /* transition fade 注意不要写transform动画, 与popper.js动画冲突 */
  :is(.fade-enter-active, .fade-leave-active) {
    transition: opacity var(--e-transition-duration) ease;
  }
  :is(.fade-enter-from, .fade-leave-to) {
    opacity: 0;
  }
}

.e-tooltip__trigger {
  color: inherit;
}
